.flex-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 900px;
}


.body {
	border-style:hidden;
	border-color: black;
	margin: 234px;
	border-radius: 40px;
	background-color: white;
	height: 700px;
	width: 350px;
}

img {
	border-top-left-radius: 35px;
	border-top-right-radius: 35px;
}

#heading {
	text-align: center;
	font-size: 30px;
	font-weight: bold; 
}

#message {
	text-align: center;
	font-size: 20px;
}

.plan {
	line-height: 0px;
	margin: 50px 40px 50px 40px;
	border-style: hidden;
	padding: 10px 10px 10px 20px;
	border-radius: 15px;
	background-color: #f2faf9;
}

#background {
	background-image: url(file:///C:/Users/twoic/OneDrive/Desktop/Practice%20Project/images/pattern-background-desktop.svg);
	background-repeat: no-repeat;
}

#link{
	border-style: hidden;
	margin: 0px 40px 0px 45px;
	text-align: center;
	background-color: blue;
	border-radius: 15px;
	padding: 20px 65px 20px 65px;
	display: inline-block;
}

#cancel {
	text-align: center;
	font-weight: bold;
}

#link {
	color: white;
	text-decoration: none;
}

#order {
	text-decoration: none;
	color: #9eb8b5;
}

#link:hover {
	opacity: 0.5;
}

.change:hover {
	opacity: 0.5;
}

#order:hover {
	opacity: 1.0;
	color: blue;
}
